.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  .scroll_box {
    width: 100%;
    height: auto;
  }
}
.container::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
}

.container::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--color-text-black); /* 스크롤바의 색상 */
  border-radius: 8px;
}

.container::-webkit-scrollbar-track {
  // background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}
