@keyframes jump {
  1%,
  5% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  8%,
  12% {
    transform: scale(1) translate(0, -0.5rem);
  }

  18% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1s linear infinite;
}
