// 표 관련
@media only screen and (max-width: 1830px) {
  .table {
    .table_fix_mid {
      width: 150px !important;
    }
  }
}
@media only screen and (max-width: 1700px) {
  .table {
    .table_fix_mid {
      width: 140px !important;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .table {
    .table_fix_mid {
      width: 130px !important;
    }
  }
}
@media only screen and (max-width: 1500px) {
  .table {
    .table_fix_mid {
      width: 110px !important;
    }
  }
}
@media only screen and (max-width: 1350px) {
  .table {
    .table_fix_mid {
      width: 105px !important;
    }
  }
}
